html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    cursor: url('./images/sqCursor.png') 40 40, default;
}

.box {
    height: 100%;
    width: 100%;
    background-color: white
}

.straightLine, .hrLine {
    position: absolute;
    background-color: black;
    transition: transform .05s ease-in-out;
}